

* {
  padding: 0;
  margin-left: 0;
}

/* LOGOS */

#logo-header,
#logo-footer {
  width: 9rem;
  height: 9rem;
}

/* EVENTS CARD */
.event-image {
  width: 17.8125rem;
  height: 17.8125rem;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 1.5625rem;
  border: 5px solid rgba(234, 234, 234, 0.73);  
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.event-image:hover {
  filter: grayscale(0%);
}

/* CAROUSEL */
.slider-container {
  /* background: blue; */
  width: 95%;
  margin: 0 auto;
  border-radius: 25px;  
}

.slick-list {
  overflow: hidden; /* Oculta la porción de las tarjetas adyacentes */
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que las tarjetas ocupen toda la altura del contenedor */
}

/* FOOTER */
.social-icons {
  width: 4rem;
  height: 4rem;
}
